.back-panel
    img.arrow-left(src="images/arrow-left.svg" alt="Go back")
    div
        img(src="images/back-panel_1.png" alt="icon")
        img(src="images/back-panel_2.png" alt="icon")
        img(src="images/back-panel_3.png" alt="icon")
        img(src="images/back-panel_4.png" alt="icon")
        img(src="images/back-panel_5.png" alt="icon")
    div
        img(src="images/back-panel_6.png" alt="icon")
        img(src="images/back-panel_7.png" alt="icon")
        img(src="images/back-panel_8.png" alt="icon")
