.filters
    select
        option Фильтры
        option Фильтры
        option Фильтры
    input(type="text" placeholder="Вы можете добавить до 10 фильтров")
    .button_wrap
        button#button_clean Очистить фильтры
        button#button_save Сохранить фильтр
    