nav.nav
    .nav_links
        a(href="#").active_nav
            i.fa.fa-address-card-o(aria-hidden='true')
            span Покупатели
        a(href="#")
            i.fa.fa-money(aria-hidden='true')
            span Продавцы
        a(href="#")
            i.fa.fa-building-o(aria-hidden='true')
            span Арендодатели
        a(href="#")
            i.fa.fa-users(aria-hidden='true')
            span Арендаторы
    .search
        input(type="text" placeholder="поиск по названию объекта")
        input(type="text" placeholder="ID объекта")
        .searcher
            img(src="images/searcher.svg" alt="searcher")
    