.table_customers
    .table_customers_header
        p Новые объекты
        .where
            span.city в Днепре
            img(src="images/down-arrow.svg")
        .table_filters
            span.triangle
            span у параметра включён фильтр
        .table_setting
            img(src="images/gear-settings.svg")
            span настройка таблицы
            
    .table_customers_main
        table.table_b
            tr
                th Фото/Видео
                th Адрес
                th Открыть
                th Комнат
                th Планировка
                th Этаж
                th Площадь
                th Цена
                th Источник
                th Дата
                th А
                th Действия
            tr
                td
                    img(src="images/photo-camera.svg")
                    img(src="images/youtube.svg")
                td
                    span Гагарина пр., Казакова ул., 13/15
                    span.district_customers Бабушкинский р-н
                td: img(src="images/down-arrow.svg")
                td 3
                td Хрущевка
                td 3/9
                td 41/28,8
                td 120 000
                td Агент
                td 10:00
                td
                td
                    img(src="images/speech-bubble.svg")
                    span +23
                    img(src="images/star.svg")
            
                        
            tr
                td
                    img(src="images/photo-camera.svg")
                    img(src="images/youtube.svg")
                td
                    span Гагарина пр., Казакова ул., 13/15
                    span.district_customers Бабушкинский р-н
                td: img(src="images/down-arrow.svg")
                td 3
                td Хрущевка
                td 3/9
                td 41/28,8
                td 120 000
                td Агент
                td 11:30
                td
                td
                    img(src="images/speech-bubble.svg")
                    span +23
                    img(src="images/star.svg")
                
            tr
                td
                    img(src="images/photo-camera.svg")
                    img(src="images/youtube.svg")
                td
                    span Гагарина пр., Казакова ул., 13/15
                    span.district_customers Бабушкинский р-н
                td: img(src="images/down-arrow.svg")
                td 3
                td Хрущевка
                td 3/9
                td 41/28,8
                td 120 000
                td Агент
                td 12:30
                td
                td
                    img(src="images/speech-bubble.svg")
                    span +23
                    img(src="images/star.svg")
            
            tr
                td
                    img(src="images/photo-camera.svg")
                    img(src="images/youtube.svg")
                td
                    span Гагарина пр., Казакова ул., 13/15
                    span.district_customers Бабушкинский р-н
                td: img(src="images/down-arrow.svg")
                td 3
                td Хрущевка
                td 3/9
                td 41/28,8
                td 120 000
                td Агент
                td 14:45
                td
                td
                    img(src="images/speech-bubble.svg")
                    span +23
                    img(src="images/star.svg")
                
            tr
                td
                    img(src="images/photo-camera.svg")
                    img(src="images/youtube.svg")
                td
                    span Гагарина пр., Казакова ул., 13/15
                    span.district_customers Бабушкинский р-н
                td: img(src="images/down-arrow.svg")
                td 3
                td Хрущевка
                td 3/9
                td 41/28,8
                td 120 000
                td Агент
                td 12:30
                td
                td
                    img(src="images/speech-bubble.svg")
                    span +23
                    img(src="images/star.svg")
                
            tr
                td
                    img(src="images/photo-camera.svg")
                    img(src="images/youtube.svg")
                td
                    span Гагарина пр., Казакова ул., 13/15
                    span.district_customers Бабушкинский р-н
                td: img(src="images/down-arrow.svg")
                td 3
                td Хрущевка
                td 3/9
                td 41/28,8
                td 120 000
                td Агент
                td вчера
                td
                td
                    img(src="images/speech-bubble.svg")
                    span +23
                    img(src="images/star.svg")
                
            tr
                td
                    img(src="images/photo-camera.svg")
                    img(src="images/youtube.svg")
                td
                    span Гагарина пр., Казакова ул., 13/15
                    span.district_customers Бабушкинский р-н
                td: img(src="images/down-arrow.svg")
                td 3
                td Хрущевка
                td 3/9
                td 41/28,8
                td 120 000
                td Агент
                td вчера
                td
                td
                    img(src="images/speech-bubble.svg")
                    span +23
                    img(src="images/star.svg")
                
            tr
                td
                    img(src="images/photo-camera.svg")
                    img(src="images/youtube.svg")
                td 
                    span Гагарина пр., Казакова ул., 13/15
                    span.district_customers Бабушкинский р-н
                td: img(src="images/down-arrow.svg")
                td 3
                td Хрущевка
                td 3/9
                td 41/28,8
                td 120 000
                td Агент
                td вчера
                td
                td
                    img(src="images/speech-bubble.svg")
                    span +23
                    img(src="images/star.svg")
                
            tr
                td
                    img(src="images/photo-camera.svg")
                    img(src="images/youtube.svg")
                td
                    span Гагарина пр., Казакова ул., 13/15
                    span.district_customers Бабушкинский р-н
                td: img(src="images/down-arrow.svg")
                td 3
                td Хрущевка
                td 3/9
                td 41/28,8
                td 120 000
                td Агент
                td 10 окт
                td
                td
                    img(src="images/speech-bubble.svg")
                    span +23
                    img(src="images/star.svg")
            
    
    .table_customers_show
        p wwww
        
    .table_customers_pagination
        p Пагинация