.widget
    img.cancel(src="images/cancel.svg")
    .change_data 
        i.fa.fa-angle-left(aria-hidden='true')
        span.cyfral 13
        i.fa.fa-angle-right(aria-hidden='true')
    p.month октября
    .add_new_task
        img.more(src="images/more.svg")
        span Новая задача
    
    .reminder
        .reminder_item
            span.time 12:20
            span.description У меня встреча с нотариусом Морозовой. Привезти ей пакет документов
        
        .reminder_item
            span.time 12:20
            span.description Приедет клиент посмотреть квартиру на Паникахи, 22
        
        .reminder_item
            span.time 12:20
            span.description Босс оперативка
            
        .reminder_item.reminder_item_active
            span.time 12:20
            span.description Отправить ежедневный отчёт
            
        .reminder_item
            span.time 12:20
            span.description Английский
            
        .reminder_item
            span.time 12:20
            span.description Встреча с клиентом. Место: CASTA
            
        .reminder_item
            span.time 12:20
            span.description Просмотр тренинга по психологии продаж
            