$ff-main: 'RobotoRegular';
$ff-medium: 'RobotoMedium';
$ff-bold: 'RobotoBold';
$ff-light: 'RobotoLight';

$colorPrimary: #0097a7;
$colorSecondary: #ffc000;
$colorSecondaryButton: #f4f5f7;
$colorBorder: #d8d8d8;
$colorInputBackground: #eee;
$colorPlaceholder: #959595;
$colorTextPrimary: #212121;
$colorIconFontAwesome: #555a5a;
$colorShadow: #757575;
$colorError: #d30011;

$shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
